<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>askform</title>
</head>
<body>
    {% for e in form.non_field_errors %}
        <div class="alert alert-danger">{{ e }}</div>
    {% endfor %}
    <form class="form-horisontal" method="post" action="/ask/">
        {% csrf_token %}
        <fieldset>
            {% for field in form %}
                <div class="control-group {% if field.errors %}has-error{% endif %}">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">{{ field }}</div>
                </div>
            {% endfor %}
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Сохранить
            </button>
        </div>
    </form>
</body>
</html>