<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new_question</title>
</head>
<body>
{% for q in new_questions %}
    <h1>{{q.title}}</h1><br>
    <a href="{{ q.get_url }}">open</a> <br><br>
{% endfor %}
<div><ul>
    {% for p in paginator.page_range %}
        {% if p == page.number %}
        <li style="border:2px; border-color:green;">
        {% else %}
        <li>
        {% endif %}
        <a href="{{ paginator.baseurl }}{{ p }}">{{ p }}</a>
        </li>
    {% endfor %}
</ul>
</div>
</body>
</html>