<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
{% for q in popular_questions %}
    <h1>{{q.title}}</h1>
    <a href="{{q.get_url}}">open</a> <br>
{% endfor %}
<nav><ul class="pagination">
    {% for p in paginator.page_range %}
        {% if p == page.number %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
            <a href="{{paginator.baseurl}}{{p}}">{{p}}</a>
        </li>
    {% endfor %}
</ul>
</nav>
</body>
</html>